<h1> CMS App </h1>

<form action="/signin" method="post">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password"><br>
  <br>
  <input type="submit" value="Sign In">
</form>